/*BACKDROP*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}
/*TOGGLE BUTTON*/
/* .toggle-button { */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* height: 24px; */
    /* width: 30px; */
    /* background: transparent; */
    /* border: none; */
    /* cursor: pointer; */
    /* padding: 0; */
    /* box-sizing: border-box; */
/* } */

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;
}
/*SIDE DRAWER*/
.nav-drawer {
	height: 100%;
	background: white;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
  }
  
  .nav-drawer.open {
	transform: translateX(0);
  }
  
  .nav-drawer ul {
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .nav-drawer li {
	margin: 0.5rem 0;
  }
  
  .nav-drawer a {
	color: #521751;
	text-decoration: none;
	font-size: 1.2rem;
  }
  
  .nav-drawer a:hover,
  .nav-drawer a:active {
	color: #fa923f;
  }
  
  @media (min-width: 769px) {
	  /* .nav-drawer { */
		  /* display: none; */
	  /* } */
  }
  










  /*Navbar*/
  
  .custom-navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
  }

  .custom-navbar.default-layout-navbar {
    font-family: "ubuntu-light", sans-serif;
    background: #ffffff;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
}


  .page-body-wrapper {
    min-height: calc(100vh - 70px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
}

.main-panel {
	transition: width 0.25s ease, margin 0.25s ease;
	width: 100%;
	min-height: calc(100vh - 70px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
  }

  .main-div {
    width: 100%;
    height: 100%;
    padding-right: 1%;
    padding-left: 6%;
    padding-top: 1%;
    background-color: #f2f2f2;
}

.content-container{
	width: 100%;
    padding-right: 0px;
    padding-left: 0px;
	margin-right: auto;
	padding-top: 5%;
}

.fixed-top{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.h3{
	color: #777e84
}


.content-wrapper {
    background: #fff;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.navigation {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
